<h1>Dwellezy</h1>
<ul>
  <% @operations.each do |operation| %>
      <li><%= operation.name %></li>
  <% end %>
</ul>
<ul>
  <% @listing_types.each do |type| %>
      <li><%= type.name %></li>
  <% end %>
</ul>
<ul>
  <% @locations.each do |location| %>
      <li><%= location.name %></li>
  <% end %>
</ul>

